---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<img src="{{ base_path }}/files/wait4.png" alt="Wait4 project">

<p>
    <ul class="fans">
      <li>
        <a href="#">
          <figure>
            <img class="fans" src="http://placehold.it/300/300" alt="PEPR Wait4 project."/>
            <figcaption>Workpackages of PEPR WAIT4 project.</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <img class="fans" src="http://placehold.it/300/300" alt="Shrouded" />
            <figcaption>ANR Portrait project illustration.</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </p>


{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single-project.html %}

{% endfor %}
