---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<img src="https://crobardet.github.io/files/wait4.png" alt="Wait4 project">

<p>
    <ul class="fans">
      <li>
        <a href="#">
          <figure>
            <img class="fans" src="http://placehold.it/300/300" alt="Shrouded"/>
            <figcaption>Shrouded</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <img class="fans" src="http://placehold.it/300/300" alt="Shrouded" />
            <figcaption>Shallow Recess</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </p>


{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single-project.html %}

{% endfor %}
