---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<img src="https://crobardet.github.io/images/wai4.png" alt="PEPR WAIT4 project.">

<div class="row">
  <div class="column">
            <img class="fans" src="http://placehold.it/300/300" alt="PEPR Wait4 project.">
            <!--figcaption>Workpackages of PEPR WAIT4 project.</figcaption-->
          </div>
  <div class="column">
            <img class="fans" src="http://placehold.it/300/300" alt="ANR PORTRAIT" >
            <!--figcaption>ANR Portrait project illustration.</figcaption-->
          </div>
</div>


{% include base_path %}

{% for post in site.projects reversed %}
  {% include archive-single-project.html %}

{% endfor %}
